.odd {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    border: 2px solid blue;
    margin: 10px;
    /*padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    */
    padding: 20px 40px 20px;
}
span{
    background-color: saddlebrown;
    height: 100px;
    padding: 20px;
    border: 1px dashed red;
    margin: 20px;
    display: inline-block;
}
